
<div class="footer-container">

    <!-- Mobile Accordion Menus -->
    <div class="footer-menus">
        <ul class="menu-list-1">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/academy.html">Academy</a></li>
            <li><a href="/pages/guides.html">Guides</a></li>
        </ul>
        <ul class="menu-list-2">
            <li><a href="/pages/writeups.html">Writeups</a></li>
            <li><a href="/pages/snippets.html">Snippets</a></li>
            <li><a href="/pages/projects.html">Projects</a></li>
        </ul>
    </div>
    <div id="border"></div>

    <div class="footer-copyright">
        <div class="footer-logo">
            <img src="/assets/logo/logo.png" alt="Website Logo">
        </div>
        <p>&copy;<span id="current-year"></span> <strong>samsec</strong></p>
        <p>Some rights reserved.</p>
    </div>

</div>