<div class="header-wrapper">
    <div class="menus">
        <a href="/index.html">Home</a>
        <a href="/pages/academy.html">Academy</a>
        <a href="/pages/guides.html">Guides</a>
    </div>
    <div class="logo">
        <img src="/assets/logo/logo.png" alt="Website Logo">
    </div>
    <div class="menus">
        <a href="/pages/writeups.html">Writeups</a>
        <a href="/pages/snippets.html">Snippets</a>
        <a href="/pages/projects.html">Projects</a>
    </div>

    <div class="button-wrapper">
        <button class="menu-btn" id="menuBtn">
            <span class="menu-icon">⋮</span>
            <span class="close-icon" style="display:none;rotate:90deg">⋮</span>
        </button>
    </div>
</div>